.friendview-container1 {
  display: flex;
  flex-direction: column;
}

.friend-container1 {
  width: 40%;
  margin-left: auto;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.friendview-container2 {
  display: flex;
  border-bottom: 1px solid #d0d2d3;
  margin-top: 8%;
}

.friendview-container3 {
  display: flex;
  margin-top: 5%;
}

.friendview-button2 {
  flex-grow: 0;
  min-width: 6rem;
  margin-right: 1%;
}

.friendview-button3 {
  text-decoration: none;
  color: inherit;
  border-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  background: rgb(218, 102, 102);
}

.friendview-button3:hover {
  background-color: rgb(134, 52, 22);
}

.friendview-button3:focus {
  background-color: rgb(134, 52, 22);
}

.friendview-button4 {
  font: bold;
  font-size: 20px;
  font-family: emoji;
  color: white;
}

.friend-title {
  /* position: absolute; */
  /* top: 15%;
  font-family: 'Roboto';
  font-weight: 700;
  color: #373737;
  font-size: 1.5em;
  text-align: center; */
}

.friendview-container3 {
  width: 100%;
}
.friendview-container4 {
  width: 100%;
}

.search-container {
  display: flex;
  width: 100%;
  position: relative;
  display: flex;
}

.search-form {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.search-button {
  width: auto;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.friendviewb-container1 {
  display: flex;
  justify-content: flex-start;
}

.friendviewb-button1 {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #555777;
  /* box-shadow: 0 0 3px grey; */
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15%;
  margin-left: 15%;
}

.friendviewb-link {
  text-decoration: none;
}

.friendviewb-content {
  color: white;
}

.friendviewb-container3 {
  margin-left: 5%;
  margin-top: 2%;
}

.friendviewb-button2 {
  text-decoration: none;
  color: inherit;
  border-color: transparent;
  background: none;
  display: inline-block;
}

.friendviewb-content2 {
  font-family: emoji;
  color: black;
  font-size: 20px;
}

.friendsearch-content {
  margin-top: 5%;
  font-size: 20px;
  font-family: emoji;
  margin-left: 5%;
}

.friendview-title {
  font-size: 30px;
  font-family: emoji;
  margin-left: 5%;
}
