.landingB-container {
  background-color: #f1ece4;
}

.landingB-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.landingB-titleA {
  padding: 1rem 1rem 1rem 1rem;
  font-size: 28px;
  line-height: 36px;
  font-family: 'Graphik Webfont', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Droid Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 2%;
}

.landingB-content {
  width: 15%;
  height: 20%;
  min-width: 250px;
  min-height: 200px;
}

.landingB-image {
  margin-top: 5%;
  width: 180px;
  height: 160px;
  border-radius: 6px;
}

.landingB-image:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.landingB-text {
  margin-top: 5%;
  font-size: 13px;
  font-weight: 500;
}

.containerB {
  margin: auto;
  overflow: hidden;
  padding: 1rem 1rem;
}

.gridB {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr); */
}

.centerB {
  text-align: center;
  /* margin: auto; */
}

/* Small Screens
@media (max-width: 560px) {
  .grid {
    grid-template-columns: 1fr;
  }
} */
