.user-container {
  text-align: center;
  background-color: #f0f0f0;
  padding: 1.8rem 1rem 2.4rem 1rem;
  position: relative;
  color: #333;
  margin-bottom: 5%;
}

.user-name {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
