.home-message {
  width: 25%;
  /* height: 25%; */
  position: absolute;
  z-index: 1;
  /* height: -webkit-fill-available; */
}

.home-background {
  width: 100%;
  height: 100%;
  /* position: relative; */
  z-index: 1;
  /* height: -webkit-fill-available; */
}
