.home-containerT {
  font-size: 25px;
  margin-bottom: 5%;
  font-family: revert;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.home-container1 {
  font-size: 25px;
  margin-bottom: 5%;

  font-family: revert;
}

/* .home-container2 {
} */

/* .home-container3 { */
  /* display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center; */
/* } */

.home-button1 {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 1.5;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  padding: 0.5em 1em;
  outline: 0;
  border-radius: 20px !important;
  color: #fff;
  background-color: rgb(218, 102, 102);
  border-color: rgb(218, 102, 102);
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
}

.home-button1:hover {
  background-color: rgb(134, 52, 22);
}

.home-button2 {
  text-decoration: none;
  color: white;
}

.home-button3 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 35px 0 35px;
  margin-bottom: 5%;
}

.view-container1 {
  display: flex;
  min-width: 100%;
  flex-grow: 1;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  margin-top: -1px;
  outline: 1px solid #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.view-container2 {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.view-container3 {
  margin-top: 5%;
  width: 110px;
  height: 110px;
}

.view-container4 {
  display: flex;
  margin-top: 5%;
  position: relative;
  flex: 1 1;
  padding-left: 10px;
  /* font-size: 2rem; */
  max-width: calc(100% - 120px);
}

.view-image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  height: auto;
}

.view-content {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  padding: 1rem;
  width: 20%;
}

.view-name {
  color: black;
  font-size: medium;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.view-description {
  color: black;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
}

.view-content2 {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1rem;
}

.view-content3 {
  text-align: center;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}
.view-content4 {
  /* display: flex; */
  margin-left: 30%;
  justify-content: flex-end;
}

.view-button {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 1.5;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  /* padding: 0.5em 1em; */
  outline: 0;
  border-radius: 20px !important;
  color: #fff;
  background-color: teal;
  border-color: teal;
  padding: 0.1em 0.9em;
  margin-right: 5%;
  margin-bottom: 5%;
}

.itemform-container {
  display: flex;
  justify-content: center;
}

.itemform-contentA {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 380px;
  height: 450px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.itemform-content {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-top: 5%;
}

.itemform-label {
  font-weight: 600;
}

.itemform-input {
  margin-bottom: 15%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.itemform-textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: -webkit-mini-control;
  resize: none;
  min-height: 100px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* .itemform-input :hover {
  background-color: rgb(154, 214, 154);
} */

.itemform-button {
  margin-bottom: 15%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(218, 102, 102);
  color: white;
  font-weight: 700;
}
