.footer-container {
  background-color: rgb(218, 102, 102);
  height: 50px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer-text {
  text-align: center;
  text-decoration: none;
  height: 100%;
  font-family: sans-serif;
  color: white;
  font-weight: 500;
  font-size: medium;
  margin-top: 2%;
}
