.container {
  padding: 0 15px 30px 15px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.container1 {
  position: relative;
  padding: 25px;
  border: 1px #e5e5e5;
  border-radius: 35px;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.container1:hover {
  background-color: rgb(154, 214, 154);
}

.title {
  height: 45px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.button-container {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 35px 0 35px;
}

.button {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 1.5;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  padding: 0.5em 1em;
  outline: 0;
  border-radius: 20px !important;
  color: #fff;
  background-color: rgb(218, 102, 102);
  border-color: rgb(218, 102, 102);
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
}

.button:hover {
  background-color: rgb(134, 52, 22);
}

.button2 {
  text-decoration: none;
  color: white;
}

.WishListView-Container {
  text-decoration: none; /* No underlines on the link */
}
