.groupview-container1 {
  display: flex;
  flex-wrap: wrap;
}

.groupview-addButton1 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 35px 0 35px;
}
.groupview-addButton2 {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 1.5;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  padding: 0.5em 1em;
  outline: 0;
  border-radius: 20px !important;
  color: #fff;
  background-color: rgb(218, 102, 102);
  border-color: rgb(218, 102, 102);
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
}

.groupview-addButton2:hover {
  background-color: rgb(134, 52, 22);
}

.groupview-addButton3 {
  text-decoration: none;
  color: white;
}

.groupviewB-container1 {
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.groupviewB-container2 {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 280px;
  height: 300px;
  margin-top: 10%;
}

.groupviewB-container3 {
  text-decoration: none;
}

.groupviewB-image {
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: auto;

  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);

  @media (min-width: 40rem) {
    &::before {
      padding-top: 66.6%;
    }
  }
}

.groupviewB-content {
  color: black;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.groupviewC-container1 {
  display: flex;
  margin-left: 5%;
  /* margin-top: 5%; */
  margin-bottom: 5%;
}

.groupviewC-container2 {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 40%;
}
.groupviewC-container3 {
  background: rgb(53, 212, 133);
}

.groupviewC-image-container {
  display: flex;
  justify-content: center;
}

.groupviewC-image {
  width: 50%;
  height: auto;
  margin-bottom: 5%;
  border: 6px solid #fff;
  border-radius: 10px;
  min-width: 200px;
  min-height: 200px;
  max-width: 350px;
  max-height: 350px;
}

.groupviewC-content {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-top: 5%;
}

.groupviewC-name-container {
  display: flex;
  justify-content: center;
}

.groupviewC-name {
  margin-bottom: 5%;
  margin-top: 5%;
  width: 50%;
  text-align: center;
  font-size: larger;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.groupviewC-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

.groupviewC-name-input {
  margin-bottom: 15%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.groupviewC-detail-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.groupviewC-detail-textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: -webkit-mini-control;
  resize: none;
  min-height: 100px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.groupviewC-content2 {
  /* margin-left: 30%; */
  margin-top: 5%;
  justify-content: flex-end;
}
.groupviewC-button {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 1.5;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  /* padding: 0.5em 1em; */
  outline: 0;
  border-radius: 20px !important;
  color: #fff;
  background-color: teal;
  border-color: teal;
  padding: 0.1em 0.9em;
  margin-right: 2%;
  margin-bottom: 10%;
  margin-left: 5%;
}
.groupviewC-content3 {
  text-align: center;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}

.groupviewC-content4 {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.groupviewC-date-budget1 {
  width: 50%;
  text-align: center;
}

.groupviewC-date-budget2 {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 3%;
  font-weight: 700;
}

.groupviewC-date-budget3 {
  font-weight: 300;
  font-size: 1rem;
}

.groupviewC-container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.groupviewC-org-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin-bottom: 5%;
}

.groupviewC-org1 {
  text-align: left;
  margin-left: 10%;
}

.groupviewC-org2 {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 3%;
  font-weight: 700;
}

.groupviewC-org3 {
  font-weight: 300;
  font-size: 1rem;
}

.groupviewC-detail-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15%;
}

.groupviewC-detail {
  font-weight: 300;
  font-size: 1rem;
}

.groupviewC-detail2 {
  font-weight: 300;
  font-size: 1rem;
  white-space: pre-wrap;
}

.groupviewC-button1 {
  display: block;
  width: 50px;
  height: 50px;
  /* line-height: 80px; */
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #555777;
  /* box-shadow: 0 0 3px grey; */
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15%;
  margin-left: 15%;
}

.groupviewC-viewD-container {
  min-height: 300px;
  margin-bottom: 5%;
}

.groupviewC-Spview-container {
  min-height: 300px;
}

.groupviewC-viewForm-container {
  min-height: 300px;
  margin-bottom: 5%;
}

.groupviewC-viewForm-button1 {
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
}

.groupviewC-viewForm-button2 {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 1.5;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  /* padding: 0.5em 1em; */
  outline: 0;
  border-radius: 20px !important;
  color: #fff;
  background-color: teal;
  border-color: teal;
  padding: 0.1em 0.9em;
  margin-right: 2%;
  margin-bottom: 10%;
  margin-left: 5%;
  width: 15%;
}

.groupviewC-label {
  font-weight: 600;
}

.groupview-title {
  font-size: larger;
  font-weight: 800;
  text-align: center;
  margin-top: 5%;
}

.groupview-selections {
  min-height: 200px;
  text-align: -webkit-center;
  font-size: medium;
  font-weight: 800;
}
